
span.popupFrame
{
	z-index: 3;
	position: absolute;
	display: none;
	background: #FFFFFF;
	border: solid 1px #BFBFBF;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	padding: 2px;
	margin: 6px;
}

span.searchGuessBar
{
	position: absolute;
	z-index: 2;
	display: none;
	background: #EFEFEF;
	background: linear-gradient(to bottom, rgb(230, 230, 230) 0%, rgb(255, 255, 255) 100%);
	border: solid 1px #7F7F7F;
	border-radius: 8px;
	padding: 2px;
}
span.searchGuessBar > a
{
	display: block;
	color: inherit;
	text-decoration: inherit;
	width: 100%;
	padding: 2px;
}
span.searchGuessBar > a:hover
{
	background: #FFFFCF;
	background: linear-gradient(to bottom, rgb(250, 250, 200) 0%, rgb(230, 230, 170) 100%);
}
